.contactForm {
    margin-bottom: 20px;
    padding: 20px;
    height: 200px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    flex-wrap: nowrap;
    display: block;
}